/* 
 * custom css
 * jarrod li
 * 10 july 2017
 */

body {
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Vollkorn', serif;
}

.pic {
    padding-bottom: 60px;
}

.txt {
    font-size: 25px;
    padding-left: 25px;
}

a:link {
    color: #fc6c85;
}

a:visited {
    color: #fc6c85;
}

a:hover {
    font-weight: bold;
}

.footer {
    font-family: 'Helvetica';
    border-top: 1px solid black;
    width: 60%;
    padding-top: 20px;
}

.footer a:hover {
    text-decoration: none;
}

.cpy {
    padding-top: 10px;
    font-family: 'Helvetica';
    font-weight: bold;
}